/* recuperar_senha.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #474646;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#recuperarSenha {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    text-align: center;
}

form {
    margin-top: 20px;
}

.campo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    position: relative;
    margin-bottom: 20px;
}

.campo input {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.campo input:focus,
.campo input:valid {
    border-color: #4caf50;
}

.campo label {
    display: flex;
    justify-content:space-between;
    gap: 10px;
    position: absolute;
    left: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
